$little-heading-width: 6em;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@media all and (max-width: 600px) {
  .little-table {
    thead {
      display: none;
    }

    display: block;

    tbody, tr, td {
      display: block;
    }

    tr {
      + tr {
        border-top: 1px solid #ddd;
        margin-top: .5em;
        padding-top: .5em;
      }
    }

    td {
      position: relative;
      padding-left: $little-heading-width;

      &:before {
        content: attr(data-little-heading);
        font-weight: bold;
        position: absolute;
        left: 0;
        width: $little-heading-width;
      }
    }
  }
}
