*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@media all and (max-width: 600px) {
  .little-table {
    thead {
      display: none;
    }

    display: block;

    tbody, tr, td {
      display: block;
    }

    td {
      &:before {
        content: attr(data-little-heading);
      }
    }
  }
}
